 $pink: #F16D7F;
 
* {
    box-sizing: border-box;
}
* {
    font-family: Lato;
}

.visually-hidden {
    position: absolute;
    left: -9999999px;
    width: 0px;
    height: 0;
    visibility: hidden;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 calc(50% - 1140px / 2);
}
@import "blocks/_header.scss";

/* Секция ПРОМО */
@import "blocks/_promo.scss";
/* Секция ПРОМО */

/* Секция виды товаров */
.classes {
    min-height: 470px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;

}
.classes-type {
    width: 32%;
    min-height: 260px;
    text-align: center;
    text-decoration: none;
    background-color: #211616;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.classes-type span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;*/
    color: #F16D7F;
}
.for-women {
    background-image: url(../img/1-women.jpg);
}
.for-men {
    background-image: url(../img/2-men.jpg);
}
.for-kids {
    background-image: url(../img/3-kids.jpg);
}
.accesories {
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
    background-image: url(../img/4-accesories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Секция виды товаров */

/* Секция каталога */
@import "blocks/_catalog.scss";

/* Секция преимуществ */
.pluses {
    padding-top: 100px;
    min-height: 341px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.pluses-item {
    width: 30%;
    text-align: center;
    transition-duration: 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

.item-heading {
    font-weight: 300;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}
.item-text {
    font-weight: 100;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
/* Секция преимуществ/ */

/* Секция Обратноя связи */
@import "blocks/_feedback.scss";
/* Секция Обратноя связи */

/* Футер */
@import "blocks/_footer.scss";
/* Футер */


/* Страница коталогов */
/* блок нафигации*/
.nav {
    min-height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items : center;
}
.nav-heading {
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    color: #F16D7F;  
}
.breadcrumb {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.span-nav {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}
/* блок нафигации*/

/* Блок фильтра */
.filter {
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filter-menu {
    position: relative;
    width: 33.5%;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    
}
.filter-menu ::-webkit-details-marker {display: none;}

.filter-menu[open]>.filter-title {
    color: $pink;
    
}
.filter-menu[open]>.filter-title+.filter-drop {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}


.filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.filter-drop {
    padding: 16px;
    background-color: #fff;
    width: 360px;
    z-index: 10;
    position: absolute;
}

.summary-title {
    margin-top: 15px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #6F6E6E;
    border-left: 5px solid $pink;
    border-bottom: 1px solid #EBEBEB;
}
.category[open]>.summary-title {
    color: $pink;
}
.list-item {
    list-style-type: none;
    padding-top: 12px;

    .list-link {
        text-decoration: none;
        font-weight: 100;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
}

.filter-category {
    display: flex;
    justify-content: center;
}
.filter-category>.filter-item {
    padding: 0 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter-item {
    position: relative;

}
.filter-check {
    display: none;
}
.check-title {
    display: block;

}
.check-drop {
    padding: 0 10px 10px 10px;
    position: absolute;
    left: -5px;
    background-color: #fff;
    z-index: 10;
    width: 80px;
}
.filter-check:checked ~ .check-drop {
    display: block;
}
.filter-check:not(:checked) ~ .check-drop {
    display: none;
}
.check-item {
    list-style-type: none;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    color: #6F6E6E;
}

.check-item input {
    outline: 1px solid #EBEBEB;
}

/* Блок фильтра */
/* Блок пагинации */
.catalog-pagination {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-numbers {
    height: 45px;
    padding: 10px 15px;;
    font-family: Lato;
    letter-spacing: 6px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        padding: 5px;
    }
}
.catalog-pagination span {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EF5B70;
}

/* Блок слайдера */
.slider {
    z-index: 0;
    min-height: 777px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-picture {
    min-height: 724px;
    background-color: #F7F7F7;
    margin-top: 10px;
    margin-bottom: 50px;
}
.slider-scroll {
    font-size: 17px;
    border: none;
    width: 31px;
    height: 31px;
    padding: 5px;
    background-color: #D8D8D8;
    transition-duration: 0.3s;
    

    &:hover {
        outline: 1px solid black;
        color: $pink;
    }

    :active {
        outline: 1px solid black;
        color: $pink;
    }
}
/* Блок слайдера */
/* Блок описания товара */
.product-description {
    z-index: 3;
    margin: 0 auto;
    margin-top: -50px;
    min-height: 600px;
    width: 1140px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.line1 {
    height: 3px;
    width: 63px;
    border: none;
    background-color: #EF5B70;
}
.line2 {
    width: 65%;
    border: 1px solid #EAEAEA;
}

.product-class {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 60px;
    padding-bottom: 16px;

}
.product-heading {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.product-text {
    padding: 0 290px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 50px;
}
.product-costs {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 50px;
}
.product-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}
.filters-menu {
    padding: 0 10px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}



.product-button {
    text-decoration: none;
    padding-top: 5px;
    width: 212px;
    height: 50px;
    font-size: 16px;
    line-height: 35px;
    color: #F26376;
    border: 2px solid #F26376;
    text-align: center;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        transition: 0.4s;
    }

    &:active {
        background-color: $pink;
        color: #FFFFFF;
        transition: 0.3s;
    }
}
main {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
    
}
/* Блок описания товара */
/* Блок каталога */
.product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Блок каталога */
/* Блок  корзины */
.product-card {
    position: relative;
    margin-top: 40px;
    min-height: 306px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    box-shadow: 4px 6px 15px #4d4d4d;
}
.cross-link {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #575757;
    transition-duration: 0.3s;

}
.fa-times {
    font-weight: 400;
    font-size: larger;
    
    &:hover {
        color: #A4A4A4;
    }

    &:active {
        opacity: 0.8;
    }
}
.catalog-card-heading {
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}
.text-information {
    list-style-type: none;
    font-size: 22px;
    line-height: 32px;
    color: #575757;
}
.text-information span {
    border: 1px solid #EAEAEA;
}
.card-picture {
    width: 262px;   
    padding-right: 35px;
}
.card-description  {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-quantity {
    margin-left: 15px;
    width: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    opacity: 0.8;
    border: 1px solid #EAEAEA;
    text-align: center;
}


/* Блок  корзины */

/*  Блок формы заказа  товара*/
@import "blocks/_shiping_form.scss";
/*  Блок формы заказа  товара*/


/*  Блок СУММА заказа*/
.total-costs {
    margin-top: 40px;
    padding: 42px;
    height: 214px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F5F3F3;
}
.costs-text {
    margin: 0;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}
.costs-heading {
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;

}
.costs-heading span {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.total-costs hr {
    background-color: #E2E2E2;
    width: 100%;
}
.costs-button {
    margin-top: 17px;
    text-decoration: none;
    background-color:  #F5F3F3;
    color: $pink;
    border: 1px solid $pink;
    text-align: center;
    line-height: 45px;
    font-weight: 200;
    height: 50px;
    width: 100%;
    opacity: 0.7;
    transition-duration: 0.3s;

    &:hover {
    opacity: 1;
    }

    &:active {
    background-color: #F16D7F;
    color: #FFFFFF;
    }
}

/*  Блок СУММА заказа*/
/*  БЛОК КНОПОК УПРАВЛЕНИЯ*/
.card-buttons {
    margin-top: 70px;
    width: 650px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
.card-button {
    height: 50px;
    width: 30%;
    border: 1px solid #A4A4A4;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 50px;
    color: #000000;
    transition-duration: 0.3s;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &:active {
        background-color: #F16D7F;
        color: #FFFFFF;
        border: 1px solid $pink;
    }
}
/*  БЛОК КНОПОК УПРАВЛЕНИЯ*/

/* страница Регистрации */

@import "blocks/_registration_form.scss";

/* страница Регистрации */

/* Планшетная версия */
@media (max-width: 1180px) {
    .container {
        padding: 0 calc(50% - 768px / 2);
    }
    .promo {
        min-height: 370px;
    }
    .promo-picture  {
        margin-left: 0;
    }
    .promo-heading {
        min-width: 330px;
        font-size: 24px;
        line-height: 29px;
    }
    .span1 {
        font-size: 44px;
        line-height: 53px;
    }
    .pluses {
        padding: 50px 0;
        min-height: 610px;
        flex-direction: column;
        align-items: center;
    }
    .feedback {
        min-height: 693px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subscribe {
        padding-top: 70px;
    }
    .filter {
        justify-content: space-between;
    }
    .catalog-card {
        margin: 15px 13px 30px 13px;
    }
    .basket-card {
        width: 97%;
    }
    .card-buttons {
        width: 100%;
        justify-content: space-around;
        order: 3;
    }
    .card-button {
        width: 46%;
    }
    .shiping-form {
        order: 4;
        width: 48%;
    }
    .total-costs {
        order: 5;
        width: 49%;
    }
    .registration-form {
        width: 49%;
    }
    .registration-description {
        width: 48%;
        margin-left: 2%;
    }
    .slider {
        min-height: 624px;
    }
    .slider-picture {
        min-height: 565px;
    }
    .product-description {
        width: 760px;
        margin-top: 0px;
    }
    .product-text {
        padding: 0 100px;
    }
    
}
/* Планшетная версия */

/* Мобильная версия */
@media (max-width: 780px) {
    .container {
        padding: 0 calc(50% - 370px / 2);
    }
    .forma2, .forma3 {
        display: none;
    }

    .promo-picture {
        display: none;
    }
    .classes-type {
        width: 95%;
        justify-content: center;
        margin-top: 30px;
    }

    .accesories {
        min-height: 111px;
    }
    .feedback {
        min-height: 610px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .pluses-item {
        width: 75%;
        padding: 30px 0;
    }
    .personal-info {
        width: 70%;
    }
    .footer {
        padding-top: 30px;
        min-height: 143px;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .span-filter {
        display: none;
    }
    .fa-sort-amount-up {
        font-size: 25px;
    }
    .filter-menu {
        width: 10%;
    }
    .filter-category {
        width: 80%;
    }
    .basket-card {
        width: 100%;
        min-height: 190px;
    }
    .card-picture {
        padding-right: 0;
        width: 144px;
    }
    .catalog-card-heading {
        font-size: 16px;
        line-height: 19px;
    }
    .text-information {
        padding-top: 3px;
        font-size: 14px;
        line-height: 17px;
    }
    .input-quantity {
        font-size: 10px;
        line-height: 12px;
    }
    .card-buttons {
        width: 100%;
    }
    .card-button {
        height: 33px;
        font-size: 12px;
        line-height: 33px;
        width: 46%;
    }
    .shiping-form {
        width: 98%;
    }
    .total-costs {
        order: 5;
        width: 98%;
    }
    .registration-form {
        width: 98%;
    }
    .registration-description {
        margin: 20px;
        width: 98%;
        margin-left: 0%;
    }
    .navform-heading {
        text-align: center;
    }
    .slider {
        align-items: center;
        min-height: 624px;
    }
    .slider-picture {
        min-height: 454px;
    }
    .product-description {
        width: 375px;
    }
    .product-text {
        padding: 0 18px;
    }   
}
/* Мобильная версия */